<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Depot</title>
=======
    <title>Demo</title>
>>>>>>> 5adc8e38c6b881e12d11a6e25b432b81c4f3f7f2
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <main class='<%= controller.controller_name %>'>
    <%= yield %>
    </main
=======
    <%= yield %>
>>>>>>> 5adc8e38c6b881e12d11a6e25b432b81c4f3f7f2
  </body>
</html>
